.DashboardSection {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #27292d;
    width: 80%;
    height: 89.6vh;
}

.DashboardSection_z {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: #27292d;
    width: 100%;
    height: 89.6vh;
}

.DashboardSection_tabs {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 50px 0 30px 0;
    height: 40%;
}

.DashboardSection_tabList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
}

.DashboardSection_tab {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 61px;
    border: 2px solid #202225;
    background-color: #202225;
}

.DashboardSection_tab_active {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 61px;
    border: 2px solid #202225;
    background-color: #202225;
}

.DashboardSection_tab_active span {
    color: #55ff7d;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.DashboardSection_tab:hover span {
    color: #55ff7d;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.DashboardSection_tab span {
    color: #8d8d8d;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.DashboardSection_TabPanel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.DashboardSection_TabPanel_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.DashboardSection_TabPanel h2 {
    color: white;
}

.DashboardSection_TabPanel_box_items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: 100%;
}

.DashboardSection_TabPanel_box_item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.DashboardSection_TabPanel_box_item img {
    width: 188px;
    height: 164px;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.ExcelTable2007 {
    border: 1px solid #B0CBEF;
    border-width: 1px 0px 0px 1px;
    font-size: 11pt;
    font-family: Calibri;
    font-weight: 100;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
    height: 20%;
}

.ExcelTable2007 TH {
    background-image: url(excel-2007-header-bg.gif);
    background-repeat: repeat-x;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #9EB6CE;
    border-width: 0px 1px 1px 0px;
    height: 17px;
    line-height: 17px;
}

.ExcelTable2007 TD {
    border: 0;
    background-color: white;
    padding: 0 4px 0 2px;
    border: 1px solid #D0D7E5;
    border-width: 0px 1px 1px 0px;
}

.ExcelTable2007 TD B {
    border: 0px;
    background-color: white;
    font-weight: bold;
}

.ExcelTable2007 TD.heading {
    background-color: #E4ECF7;
    text-align: center;
    border-width: 0 1px 1px 0;
    font-weight: bold;
}

.ExcelTable2007 TH.heading {
    background-image: url(excel-2007-header-left.gif);
}

TH {
    text-align: center;
}

.jumbotron-background {
    background-image: url(excelmock3.jpg);
    border-radius: 0 !important;
    color: white
}

.jumbotron-button {
    color: #fff !important;
    background-color: transparent !important;
    border-color: lightgrey !important;
}

.jumbotron-button:hover {
    color: #fff !important;
    background-color: #5a6268 !important;
    border-color: #545b62 !important;
}

.restrict-card {
    height: 175px;
    overflow-y: auto;
}

.inputBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: 270px;
    background-color: #202225;
}

.inputBoxIN {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 4px #36393f dashed;
}

.inputBoxIN input {
    padding: 10px;
    height: 100%;
    display: none;
}

.inputBoxitems {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    margin: 0 0 0 5px;
}

.inputBoxIN label {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TextDontElement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.TextDontElement p {
    font-size: 50px;
    color: #36393f;
}

.scrollbar::-webkit-scrollbar {
    background-color: #fff;
    height: 5px;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
    background-color: #36393f;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #55ff7d;
    border-radius: 16px;
    border: 3px solid #55ff7d;
}

.scrollbar::-webkit-scrollbar-button {
    display: none
}

.card-body {
    height: 100%;
}

.ReactModal__Content {
    height: 90%!important;
}
