.user {
    position: relative;
    border: 2px solid white;
    width: 42px;
    height: 42px;
    margin: 30px 0 0 0;
    cursor: pointer;
    border-radius: 50%;
}

.user::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: -8px;
    width: 17px;
    height: 17px;
    border: 2px solid #202225;
    background-color: #55ff7d;
    border-radius: 50%;
}